/*
font-family: 'Kaushan Script', cursive;
*/
.purpletext {
  color: purple;
}
h1{
font-family: 'Kaushan Script' cursive;
color: pink;
}
a {
  color: pink;
  text-decoration: none;
}
a:hover  {
text-decoration: underline;
}
a:visited { }
