
.dark-bg { background: #008080; }
.medium-bg { background: #20B2AA; }
.light-bg { background: #AFEEEE; }

.dark-txt { color: #008080; }
.medium-txt { color: #20B2AA; }
.light-txt { color: #AFEEEE; }

body {
  padding: 0;
  margin: 0;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
}
nav  a {text-decoration: none;}

h1 { font-family: 'Courgette', cursive; }
body { font-family: 'Lora', serif; }
