
.dark-bg { background: #008080; }
.medium-bg { background: #20B2AA; }
.light-bg { background: #AFEEEE; }

.dark-txt { color: #008080; }
.medium-txt { color: #20B2AA; }
.light-txt { color: #AFEEEE; }

.padding {
  padding-left: 25px;
padding-right: 25px;
padding-top: 0px;
}
body {
  padding: 0;
  margin: 0;
  text-align: justify;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
nav  a {text-decoration: none;}

h1 { font-family: 'Courgette', cursive;
margin-top: 0;}
body { font-family: 'Lora', serif; }

h2 {
  font-family: 'Courgette', cursive;
  padding-left: 25px;
  color: #20B2AA;
 }
img {
  max-width: 100%;
}
footer p {padding: 25px; }
ul { list-style-type: circle;}
