header h1 {
  height: 60px;
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
nav ul {
  text-align: center;
}
nav li {
  text-align: center;
  font-size: 28px;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline;
}

.square-img {
  display: none;
}
.wide-img {
  display: block;
}
