header h1 {
  height: 60px;
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  margin-top: none;
}
h2 {
  font-size: 30px;
}
nav ul {
  text-align: center;
}
nav a:hover {
  background-color: #20B2AA;
  color: #AFEEEE;}

nav li {
  text-align: center;
  font-size: 15px;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline;
}

.square-img {
  display: none;
}
.wide-img {
  display: block;
}
footer {
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-bottom: 0;
}
